.container {
    display: flex;
    flex-direction: column;
    background: var(--color-background-light);
    padding: 1em;
}

.currentWeatherDetailsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}